<div class="gmail_quote"><div class="adM"><br></div><u></u>

    
        
        
        
        
        
        
        
    
    <div marginwidth="0" marginheight="0" style="min-height:100%;margin:0;padding:0;width:100%;background-color:#e6e6e6">
        <center>
            <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" style="border-collapse:collapse;height:100%;margin:0;padding:0;width:100%;background-color:#e6e6e6">
                <tbody><tr>
                    <td align="center" valign="top" style="height:100%;margin:0;padding:0;width:100%;border-top:0">
                        
                        <table border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse;border:0">
                            <tbody><tr>
                                <td align="center" valign="top">
                                    
                                    <table border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse;background-color:#ffffff;border-top:0;border-bottom:0">
                                        <tbody><tr>
                                            <td valign="top" style="padding-top:9px;padding-bottom:9px"><table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:collapse">
    <tbody>
            <tr>
                <td valign="top" style="padding:9px">
                    <table align="left" width="100%" border="0" cellpadding="0" cellspacing="0" style="min-width:100%;border-collapse:collapse">
                        <tbody><tr>
                            <td valign="top" style="padding-right:9px;padding-left:9px;padding-top:0;padding-bottom:0;text-align:center">
                                
                                    
                                        <img align="center" alt="" src="https://ci5.googleusercontent.com/proxy/pJaA5mqM6_XMTx2GiSkde8Yj_V8XE6I-_1QHqB_LhBAEqzLTQQspwCPry55Tffnu5fcYr2fPe_cc4vKVKMq56pTrhcCX_MVFR-9zcE6UXelbVZ9pWgJE7hPDnSjmjducDN1Jwezr-iLaYO7x2QF455PgmhfUty2Xni4l41c=s0-d-e1-ft#https://gallery.mailchimp.com/44482a25768e0988b0eb70763/images/6d6fc309-b807-4d68-a244-3315e6c25cfd.png" width="300" style="max-width:300px;padding-bottom:0;display:inline!important;vertical-align:bottom;border:0;min-height:auto;outline:none;text-decoration:none" class="CToWUd">
                                    
                                
                            </td>
                        </tr>
                    </tbody></table>
                </td>
            </tr>
    </tbody>
</table></td>
                                        </tr>
                                    </tbody></table>
                                    
                                </td>
                            </tr>
                            <tr>
                                <td align="center" valign="top">
                                    
                                    <table border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse;background-color:#ffffff;border-top:0;border-bottom:0">
                                        <tbody><tr>
                                            <td valign="top"><table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:collapse">
    <tbody>
        <tr>
            <td valign="top" style="padding-top:9px">
                
                
                
                <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%;min-width:100%;border-collapse:collapse" width="100%">
                    <tbody><tr>
                        
                        <td valign="top" style="padding-top:0;padding-right:18px;padding-bottom:9px;padding-left:18px;word-break:break-word;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%;text-align:left">
                        
                            <p dir="ltr" style="margin:10px 0;padding:0;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%;text-align:left">Olá,</p>

<p style="margin:10px 0;padding:0;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%;text-align:left">Bem-vindo ao desafio de 30 dias de Oportunidades! Aqui está o seu primeiro desafio:</p>

                        </td>
                    </tr>
                </tbody></table>
                
                
                
            </td>
        </tr>
    </tbody>
</table><table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:collapse">
    <tbody>
            <tr>
                <td valign="top" style="padding:9px">
                    <table align="left" width="100%" border="0" cellpadding="0" cellspacing="0" style="min-width:100%;border-collapse:collapse">
                        <tbody><tr>
                            <td valign="top" style="padding-right:9px;padding-left:9px;padding-top:0;padding-bottom:0;text-align:center">
                                
                                    
                                        <img align="center" alt="" src="https://ci3.googleusercontent.com/proxy/TDOEII-g08iVpNSOQpDT6BV1BsqvLu1bBtRJgPPcRbu4-Y4FtPeeam9XSg9w-sGWvptlj87xyUBkAjDNjqLbwIhYBFXFoVBuwLd2f77kPbeBu2iQgYdsoULUV69mdpOdC7yU6Cq8ghHMsMi-bUPHBYTEqOdSzzgA7wXvKks=s0-d-e1-ft#https://gallery.mailchimp.com/44482a25768e0988b0eb70763/images/487a2848-d1b4-49cf-8314-217ae41ec953.jpg" width="564" style="max-width:1000px;padding-bottom:0;display:inline!important;vertical-align:bottom;border:0;min-height:auto;outline:none;text-decoration:none" class="CToWUd a6T" tabindex="0"><div class="a6S" dir="ltr" style="opacity: 0.01; left: 674.5px; top: 768px;"><div id=":xe" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" role="button" tabindex="0" aria-label="Fazer o download do anexo " data-tooltip-class="a1V" data-tooltip="Fazer o download"><div class="aSK J-J5-Ji aYr"></div></div></div>
                                    
                                
                            </td>
                        </tr>
                    </tbody></table>
                </td>
            </tr>
    </tbody>
</table></td>
                                        </tr>
                                    </tbody></table>
                                    
                                </td>
                            </tr>
                            <tr>
                                <td align="center" valign="top">
                                    
                                    <table border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse;background-color:#ffffff;border-top:0;border-bottom:0">
                                        <tbody><tr>
                                            <td valign="top"><table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:collapse">
    <tbody>
        <tr>
            <td valign="top" style="padding-top:9px">
                
                
                
                <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%;min-width:100%;border-collapse:collapse" width="100%">
                    <tbody><tr>
                        
                        <td valign="top" style="padding-top:0;padding-right:18px;padding-bottom:9px;padding-left:18px;word-break:break-word;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%;text-align:left">
                        
                            <p style="margin:10px 0;padding:0;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%;text-align:left">Baixe agora mesmo o Guia do desafio de 30 dias de Oportunidades:</p>

                        </td>
                    </tr>
                </tbody></table>
                
                
                
            </td>
        </tr>
    </tbody>
</table><table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:collapse">
    <tbody>
        <tr>
            <td style="padding-top:0;padding-right:18px;padding-bottom:18px;padding-left:18px" valign="top" align="center">
                <table border="0" cellpadding="0" cellspacing="0" style="border-collapse:separate!important;border-radius:3px;background-color:#2baadf">
                    <tbody>
                        <tr>
                            <td align="center" valign="middle" style="font-family:Arial;font-size:16px;padding:15px">
                                <a title="Baixar o Guia" href="https://s3-sa-east-1.amazonaws.com/fazinova/livros/Guia+-+30+dias+de+Oportunidades.pdf" style="font-weight:bold;letter-spacing:normal;line-height:100%;text-align:center;text-decoration:none;color:#ffffff;display:block" target="_blank">Baixar o Guia</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table><table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:collapse">
    <tbody>
        <tr>
            <td valign="top" style="padding-top:9px">
                
                
                
                <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%;min-width:100%;border-collapse:collapse" width="100%">
                    <tbody><tr>
                        
                        <td valign="top" style="padding-top:0;padding-right:18px;padding-bottom:9px;padding-left:18px;word-break:break-word;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%;text-align:left">
                        
                            <p style="margin:10px 0;padding:0;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%;text-align:left">Temos uma comunidade fechada no Facebook somente para quem está participando dos 30 dias de Oportunidades, junte-se a nós:</p>

                        </td>
                    </tr>
                </tbody></table>
                
                
                
            </td>
        </tr>
    </tbody>
</table><table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:collapse">
    <tbody>
        <tr>
            <td style="padding-top:0;padding-right:18px;padding-bottom:18px;padding-left:18px" valign="top" align="center">
                <table border="0" cellpadding="0" cellspacing="0" style="border-collapse:separate!important;border-radius:3px;background-color:#2baadf">
                    <tbody>
                        <tr>
                            <td align="center" valign="middle" style="font-family:Arial;font-size:16px;padding:15px">
                                <a title="Solicitar acesso a comunidade" href="https://www.facebook.com/groups/1105376862860069" style="font-weight:bold;letter-spacing:normal;line-height:100%;text-align:center;text-decoration:none;color:#ffffff;display:block" target="_blank">Solicitar acesso a comunidade</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table><table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:collapse">
    <tbody>
        <tr>
            <td valign="top" style="padding-top:9px">
                
                
                
                <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%;min-width:100%;border-collapse:collapse" width="100%">
                    <tbody><tr>
                        
                        <td valign="top" style="padding-top:0;padding-right:18px;padding-bottom:9px;padding-left:18px;word-break:break-word;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%;text-align:left">
                        
                            <p dir="ltr" style="margin:10px 0;padding:0;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%;text-align:left">Você receberá os desafios todos os dias por e-mail, mas também pode vê-los e comentar como foi realizar este desafio na nossa plataforma. Todos os desafios já estão disponíveis, mas a melhor experiência é ver um novo desafio a cada dia.<br>
<br>
<br>
Aqui estão os seus dados de acesso:</p>

<p dir="ltr" style="margin:10px 0;padding:0;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%;text-align:left"><strong><span style="background-color:#ffff00">Login:</span></strong><span style="background-color:#ffff00">&nbsp;</span><%= @user.email %></p>



<p dir="ltr" style="margin:10px 0;padding:0;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%;text-align:left"><strong><span style="background-color:#ffff00">Senha:&nbsp;</span></strong><%=@user.password%></p>

&nbsp;

<p dir="ltr" style="margin:10px 0;padding:0;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%;text-align:left">Plataforma de acesso: <a href="http://cursos.fazinova.com.br" style="color:#00598e;font-weight:normal;text-decoration:underline" target="_blank">cursos.fazinova.com.br</a></p>

<p dir="ltr" style="margin:10px 0;padding:0;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%;text-align:left">Você pode alterar sua senha quando quiser acessando a área <a href="http://cursos.fazinova.com.br/aluno/edit" style="color:#00598e;font-weight:normal;text-decoration:underline" target="_blank">Meu perfil</a>.</p>
&nbsp;

<p dir="ltr" style="margin:10px 0;padding:0;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%;text-align:left">Qualquer duvida estamos a disposição através do e-mail <a href="mailto:cursos@fazinova.com.br" style="color:#00598e;font-weight:normal;text-decoration:underline" target="_blank">cursos@fazinova.com.br</a>.</p>
&nbsp;

<p dir="ltr" style="margin:10px 0;padding:0;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%;text-align:left">Parabéns por ter aceitado este desafio!</p>
&nbsp;

<p dir="ltr" style="margin:10px 0;padding:0;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%;text-align:left">Abração!</p>

<p dir="ltr" style="margin:10px 0;padding:0;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%;text-align:left">- Bel e Equipe FazINOVA</p>

                        </td>
                    </tr>
                </tbody></table>
                
                
                
            </td>
        </tr>
    </tbody>
</table><table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:collapse">
    <tbody>
        <tr>
            <td valign="top" style="padding-top:9px">
                
                
                
                <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%;min-width:100%;border-collapse:collapse" width="100%">
                    <tbody><tr>
                        
                        <td valign="top" style="padding-top:0;padding-right:18px;padding-bottom:9px;padding-left:18px;word-break:break-word;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%;text-align:left">
                        
                            <hr>
<div style="text-align:center"><span style="font-size:20px"><a href="http://www.cursocriandooportunidades.com.br" style="color:#00598e;font-weight:normal;text-decoration:underline" target="_blank">www.cursocriandooportunidades.<wbr>com.br</a></span></div>

                        </td>
                    </tr>
                </tbody></table>
                
                
                
            </td>
        </tr>
    </tbody>
</table></td>
                                        </tr>
                                    </tbody></table>
                                    
                                </td>
                            </tr>
                            <tr>
                                <td align="center" valign="top">
                                    
                                    <table border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse;background-color:#ffffff;border-top:0;border-bottom:0">
                                        <tbody><tr>
                                            <td align="left" valign="top" width="50%">
                                                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
                                                    <tbody><tr>
                                                        <td valign="top"></td>
                                                    </tr>
                                                </tbody></table>
                                            </td>
                                            <td align="left" valign="top" width="50%">
                                                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
                                                    <tbody><tr>
                                                        <td valign="top"></td>
                                                    </tr>
                                                </tbody></table>
                                            </td>
                                        </tr>
                                    </tbody></table>
                                    
                                </td>
                            </tr>
                            <tr>
                                <td align="center" valign="top" style="padding-bottom:40px">
                                    
                                    <table border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse;background-color:#707070;border-top:0;border-bottom:0">
                                        <tbody><tr>
                                            <td valign="top" style="padding-top:9px;padding-bottom:9px"></td>
                                        </tr>
                                    </tbody></table>
                                    
                                </td>
                            </tr>
                        </tbody></table>
                        
                    </td>
                </tr>
            </tbody></table>
        </center><div class="yj6qo"></div><div class="adL">
    </div></div><div class="adL">

</div></div>